<h1>Which recipe would you like to add to your <%= @category.name %> list?</h1>
<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.association :recipe %>
  <%= f.input :comment %>

  <%= f.submit "add recipe" %>
<% end %>

<%# button to go back %>

<%= link_to 'back', category_path(@category) %>
