<div class="container">
  <h1>Which recipe would you like to add to: <%= @category.name %>?</h1>

  <%= simple_form_for [@category, @bookmark], defaults: { wrapper_html: { class: "form-new" }, label_html: { class: "px-2" }} do |f| %>
    <%= f.association :recipe, placeholder: "choose a recipe from the dropdown" %>
    <%= f.input :comment, placeholder: "use this recipe all the time..." %>

    <%= f.submit "add recipe", class: "btn btn-primary btn-font-white" %>
  <% end %>
</div>
